@charset "UTF-8";

body {
  margin-left: 10%;
  width: 1100px;
  background: rgb(185, 216, 194);
}
h1 {
  color: rgb(103, 99, 66);
}

/*header*/
header {
  position: fixed;            /* ヘッダーの固定 */
    top: 0px;                   /* 位置(上0px) */
    left: 0px;                  /* 位置(右0px) */
    width: 100%;                /* 横幅100%　*/
    height: 55px;              /* 縦幅140px */
  background: rgba(0, 217, 255, 0.4);
}
header ul {
  overflow: hidden;
}
header li {
  padding: 0 4%;
  list-style: none;
  float: left;
  border-right: #fff solid 2px;
}
header li:first-child {
  border-left: #fff solid 2px;
}

/*main*/
.main {
  margin-top: 60px;
  height: 1000px;
  width: 1060px;
  text-align: right;
  background: url(images/main.jpg) no-repeat;
}


/*intro*/
.intro {
  overflow: hidden;
}
.intro h1 {
  text-align: center;
}
.intro img {
  width: 360px;
  height: 400px;
  float: left;
  margin-right: 30px;
}
.intro p {
  line-height: 1.8;
}


/*history*/
.history h1 {
  text-align: center;
}
.history dl {
  width: 90%;
  background: #b0b8dde1;
  border-radius: 10px;
  padding: 10px;
  margin-left: auto;
  margin-right: auto;
  font-size: 20px;
}
.history dt {
  float: left;
  margin-bottom: 10px;
}
.history dd{
  margin-left: 200px;
  margin-bottom: 10px;

}


/*activity*/
.activity {
  overflow: hidden;
}
.activity h1 {
  text-align: center;
}
.activity h3 {
  font-weight: normal;
  font-weight: bold;
}
.activity p {
  color: rgb(91, 96, 102);
}
.activity img {
  width: 510px;
  height: 288px;
  float: right;
}

/*hobby*/
.hobby {
  overflow: hidden;
}
.hobby h1 {
  text-align: center;
}
.hobby img {
  width: 240px;
  height: 310px;
  float: right;
}

/*twitter*/
.twitter {
  text-align: center;
}

/*countdown*/
.countdown {
  text-align: center;
}



/*contact*/
.contact {
  text-align: center;
  width: 700px;
  margin-left: auto; margin-right: auto;
  border-radius: 10px;
}

form {
  padding: 20px 0;
  background: rgb(158, 209, 226);
  border-radius: 20px;
  font-size: 20px;
}
.message {
  font-size: 25px;
}
.button {
  margin-top: 20px;
  width: 100px;
  height: 70px;
}
form input {
  margin-bottom: 20px;
}
form textarea {
  width: 350px;
  height: 70px;
}

/*footer*/
footer {
  height: 300px;
}